# --- Core ML & LLM ---
torch
transformers
scikit-learn
datasets

# --- Agentic Frameworks ---
langchain
langchain-community
langchain-openai
dspy-ai
langgraph

# --- Parameter Efficient Fine-Tuning ---
peft                # Core LoRA/Adapter logic
bitsandbytes        # For 4-bit/8-bit quantization (saving VRAM)
accelerate          # For efficient model loading and multi-GPU support
sentencepiece       # Required for many LLM tokenizers


# --- Data & Monitoring ---
evidently
pandas
numpy
dvc[s3]
mlflow

# --- Observability ---
langsmith
langfuse

# --- Serving & API ---
fastapi
uvicorn
python-dotenv

# --- Utilities ---
pydantic>=2.0
tqdm